.hero__jumbotron_index {
	height: 100%;
	width: 100%;
	background-image: url("../images/HeroImg.jfif");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 3.5rem;
	align-items: center;
	text-align: center;
}

.heading,
.subheading,
.section-headline {
	margin-bottom: 1.6rem;
}

.standings {
	display: flex;
	flex-direction: column;
}

.news-scores {
	display: flex;
	justify-content: space-between;
}
.box-scores,
.standings-east,
.standings-west {
	margin-bottom: 5rem;
}

.game-block__result {
	margin-right: 5rem;
	height: 7.5rem;
	border-top: 0.3rem solid #333;
	border-bottom: 0.3rem solid #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2.5rem;
}

.game-block__score {
	height: 100%;
	font-weight: bold;
	border-left: 0.3rem solid #333;
	border-right: 0.3rem solid #333;
	font-size: var(--sm);
	background: lightgray;
	padding: 2.35rem;
}

.game-block__at {
	font-size: var(--sm);
	font-weight: bold;
	padding: 0 2rem;
}

.game-block__image {
	padding: 0 2.35rem;
}

.game-block__image img {
	margin: 0 auto;
	width: 2.4rem;
	height: 2.4rem;
}

.headline {
	margin-bottom: 1rem;
}
