.hero__jumbotron_index {
	height: 100%;
	width: 100%;
	background-image: url("../images/HeroImg.jfif");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 3.5rem;
	align-items: center;
	text-align: center;
}

.game-block__result {
	margin-bottom: 25px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	border-top: 3px solid #333;
	border-bottom: 3px solid #333;
}

.standings {
	display: flex;
	justify-content: space-around;
}

.game-block__score {
	border-left: 3px solid #333;
	border-right: 3px solid #333;
	font-size: 2.4rem;
	background: lightgray;
}

.game-block__team {
	font-size: 2.4rem;
}

.game-block__image {
	height: 100%;
	width: 100%;
}

.game-block__image img {
	margin: 0 auto;
	width: 50px;
	height: 50px;
}

/* .heading_text_home {
	margin-top: 10vh;
	margin-bottom: 35vh;
}

.body-text_home {
	color: var(--primary_white);
	font-size: var(--lg);
}

.heading_home {
	margin-bottom: 25rem;
}

.subheading_home {
	font-size: var(--xl);
} */

.header_home,
.footer_home {
	margin: 0;
}

#content {
	max-width: 50vw;
	margin: 0 auto;
}
