.heading {
	font-size: var(--xxl);
	text-transform: uppercase;
}

.subheading {
	font-size: var(--xl);
	color: var(--primary_red);
	text-transform: uppercase;
}

.section-headline {
	font-size: var(--lg);
	color: var(--primary_red);
	text-transform: uppercase;
}

.body-text {
	font-size: var(--sm);
	color: var(--primary_black);
}

a {
	font-size: var(--sm);
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
